<?xml version="1.0" encoding="utf-8"?>
<xliff xmlns="urn:oasis:names:tc:xliff:document:1.2" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="1.2" xsi:schemaLocation="urn:oasis:names:tc:xliff:document:1.2 xliff-core-1.2-transitional.xsd">
  <file datatype="xml" original="Menu.xml" source-language="en-US" target-language="es-ES">
    <header>
      <tool tool-id="mdxliff" tool-name="mdxliff" tool-version="1.0-15c36f0" tool-company="Microsoft" />
      <xliffext:skl_file_name xmlns:xliffext="urn:microsoft:content:schema:xliffextensions">02cd5861-7ce2-4a82-b358-31f8435a0ac54d4b8eda1b128606db24c15ccf8bef79c660ce78.skl</xliffext:skl_file_name>
      <xliffext:version xmlns:xliffext="urn:microsoft:content:schema:xliffextensions">1.2</xliffext:version>
      <xliffext:ms.openlocfilehash xmlns:xliffext="urn:microsoft:content:schema:xliffextensions">4d4b8eda1b128606db24c15ccf8bef79c660ce78</xliffext:ms.openlocfilehash>
      <xliffext:ms.sourcegitcommit xmlns:xliffext="urn:microsoft:content:schema:xliffextensions">d31dc2ede16f6f7bc64e90d9f897ff54c4e3869b</xliffext:ms.sourcegitcommit>
      <xliffext:ms.lasthandoff xmlns:xliffext="urn:microsoft:content:schema:xliffextensions">04/03/2018</xliffext:ms.lasthandoff>
      <xliffext:moniker_ids xmlns:xliffext="urn:microsoft:content:schema:xliffextensions">netframework-4.5.1,netframework-4.5.2,netframework-4.5,netframework-4.6.1,netframework-4.6.2,netframework-4.6,netframework-4.7.1,netframework-4.7</xliffext:moniker_ids>
    </header>
    <body>
      <group id="content" extype="content">
        <trans-unit id="101" translate="yes" xml:space="preserve" uid="T:System.Windows.Controls.Menu">
          <source>Represents a Windows menu control that enables you to hierarchically organize elements associated with commands and event handlers.</source>
          <target state="translated">Representa un control de menú de Windows que permite organizar jerárquicamente los elementos asociados a comandos y a controladores de eventos.</target>       </trans-unit>
        <trans-unit id="102" translate="yes" xml:space="preserve" extradata="MT" uid="T:System.Windows.Controls.Menu">
          <source>The <ph id="ph1">&lt;xref:System.Windows.Controls.Menu&gt;</ph> control presents a list of items that specify commands or options for an application.</source>
          <target state="translated">El <ph id="ph1">&lt;xref:System.Windows.Controls.Menu&gt;</ph> control presenta una lista de elementos que especifican comandos u opciones para una aplicación.</target>       </trans-unit>
        <trans-unit id="103" translate="yes" xml:space="preserve" extradata="MT" uid="T:System.Windows.Controls.Menu">
          <source>Typically, clicking an item on a menu opens a submenu or causes an application to carry out a command.</source>
          <target state="translated">Normalmente, al hacer clic en un elemento en un menú se abre un submenú o hace que una aplicación para llevar a cabo un comando.</target>       </trans-unit>
        <trans-unit id="104" translate="yes" xml:space="preserve" extradata="MT" uid="T:System.Windows.Controls.Menu">
          <source><ph id="ph1">&lt;xref:System.Windows.Controls.Menu&gt;</ph> is an <ph id="ph2">&lt;xref:System.Windows.Controls.ItemsControl&gt;</ph>, which means it can contain a collection of objects of any type (such as string, image, or panel).</source>
          <target state="translated"><ph id="ph1">&lt;xref:System.Windows.Controls.Menu&gt;</ph> es un <ph id="ph2">&lt;xref:System.Windows.Controls.ItemsControl&gt;</ph>, lo que significa que puede contener una colección de objetos de cualquier tipo (como cadena, imagen o panel).</target>       </trans-unit>
        <trans-unit id="105" translate="yes" xml:space="preserve" extradata="MT" uid="T:System.Windows.Controls.Menu">
          <source>For more information, see the <ph id="ph1">&lt;xref:System.Windows.Controls.ItemsControl&gt;</ph> class.</source>
          <target state="translated">Para obtener más información, vea la clase <ph id="ph1">&lt;xref:System.Windows.Controls.ItemsControl&gt;</ph>.</target>       </trans-unit>
        <trans-unit id="106" translate="yes" xml:space="preserve" extradata="MT" uid="T:System.Windows.Controls.Menu">
          <source>The <ph id="ph1">&lt;xref:System.Windows.Controls.MenuItem&gt;</ph> is the most common type of item in a <ph id="ph2">&lt;xref:System.Windows.Controls.Menu&gt;</ph>.</source>
          <target state="translated">El <ph id="ph1">&lt;xref:System.Windows.Controls.MenuItem&gt;</ph> es el tipo más común de elemento en un <ph id="ph2">&lt;xref:System.Windows.Controls.Menu&gt;</ph>.</target>       </trans-unit>
        <trans-unit id="107" translate="yes" xml:space="preserve" extradata="MT" uid="T:System.Windows.Controls.Menu">
          <source>A <ph id="ph1">&lt;xref:System.Windows.Controls.MenuItem&gt;</ph> can contain child items.</source>
          <target state="translated">Un <ph id="ph1">&lt;xref:System.Windows.Controls.MenuItem&gt;</ph> puede contener elementos secundarios.</target>       </trans-unit>
        <trans-unit id="108" translate="yes" xml:space="preserve" extradata="MT" uid="T:System.Windows.Controls.Menu">
          <source>The child items will appear in a submenu when the user chooses a parent <ph id="ph1">&lt;xref:System.Windows.Controls.MenuItem&gt;</ph>.</source>
          <target state="translated">Los elementos secundarios aparecerán en un submenú cuando el usuario elige un elemento primario <ph id="ph1">&lt;xref:System.Windows.Controls.MenuItem&gt;</ph>.</target>       </trans-unit>
        <trans-unit id="109" translate="yes" xml:space="preserve" extradata="MT" uid="T:System.Windows.Controls.Menu">
          <source>Customizing the Menu Control</source>
          <target state="translated">Personalizar el Control de menú</target>       </trans-unit>
        <trans-unit id="110" translate="yes" xml:space="preserve" extradata="MT" uid="T:System.Windows.Controls.Menu">
          <source>To apply the same property settings to multiple <ph id="ph1">&lt;xref:System.Windows.Controls.Menu&gt;</ph> controls, use the <ph id="ph2">&lt;xref:System.Windows.FrameworkElement.Style%2A&gt;</ph> property.</source>
          <target state="translated">Para aplicar la misma configuración de propiedad a varios <ph id="ph1">&lt;xref:System.Windows.Controls.Menu&gt;</ph> controles, utilice la <ph id="ph2">&lt;xref:System.Windows.FrameworkElement.Style%2A&gt;</ph> propiedad.</target>       </trans-unit>
        <trans-unit id="111" translate="yes" xml:space="preserve" extradata="MT" uid="T:System.Windows.Controls.Menu">
          <source>You can modify the default <ph id="ph1">&lt;xref:System.Windows.Controls.ControlTemplate&gt;</ph> to give the control a unique appearance.</source>
          <target state="translated">Puede modificar el valor predeterminado <ph id="ph1">&lt;xref:System.Windows.Controls.ControlTemplate&gt;</ph> para dar al control una apariencia única.</target>       </trans-unit>
        <trans-unit id="112" translate="yes" xml:space="preserve" extradata="MT" uid="T:System.Windows.Controls.Menu">
          <source>For more information about creating a <ph id="ph1">&lt;xref:System.Windows.Controls.ControlTemplate&gt;</ph>, see <bpt id="p1">[</bpt>Customizing the Appearance of an Existing Control by Creating a ControlTemplate<ept id="p1">](~/docs/framework/wpf/controls/customizing-the-appearance-of-an-existing-control.md)</ept>.</source>
          <target state="translated">Para obtener más información acerca de cómo crear un <ph id="ph1">&lt;xref:System.Windows.Controls.ControlTemplate&gt;</ph>, consulte <bpt id="p1">[</bpt>personalizar la apariencia de un Control existente mediante la creación de un elemento ControlTemplate<ept id="p1">](~/docs/framework/wpf/controls/customizing-the-appearance-of-an-existing-control.md)</ept>.</target>       </trans-unit>
        <trans-unit id="113" translate="yes" xml:space="preserve" extradata="MT" uid="T:System.Windows.Controls.Menu">
          <source>To see the parts and states that are specific to the <ph id="ph1">&lt;xref:System.Windows.Controls.Menu&gt;</ph>, see <bpt id="p1">[</bpt>Menu Styles and Templates<ept id="p1">](~/docs/framework/wpf/controls/menu-styles-and-templates.md)</ept>.</source>
          <target state="translated">Para ver los elementos y los Estados que son específicos de la <ph id="ph1">&lt;xref:System.Windows.Controls.Menu&gt;</ph>, consulte <bpt id="p1">[</bpt>menú Estilos y plantillas<ept id="p1">](~/docs/framework/wpf/controls/menu-styles-and-templates.md)</ept>.</target>       </trans-unit>
        <trans-unit id="114" translate="yes" xml:space="preserve" extradata="MT" uid="T:System.Windows.Controls.Menu">
          <source>Dependency properties for this control might be set by the control’s default style.</source>
          <target state="translated">Propiedades de dependencia para este control se pueden establecer el estilo predeterminado del control.</target>       </trans-unit>
        <trans-unit id="115" translate="yes" xml:space="preserve" extradata="MT" uid="T:System.Windows.Controls.Menu">
          <source>If a property is set by a default style, the property might change from its default value when the control appears in the application.</source>
          <target state="translated">Si se establece una propiedad de un estilo predeterminado, puede cambiar la propiedad de su valor predeterminado cuando el control aparece en la aplicación.</target>       </trans-unit>
        <trans-unit id="116" translate="yes" xml:space="preserve" extradata="MT" uid="T:System.Windows.Controls.Menu">
          <source>The default style is determined by which desktop theme is used when the application is running.</source>
          <target state="translated">El estilo predeterminado se determina por el tema del escritorio que se utiliza cuando se ejecuta la aplicación.</target>       </trans-unit>
        <trans-unit id="117" translate="yes" xml:space="preserve" extradata="MT" uid="T:System.Windows.Controls.Menu">
          <source>For more information, see <bpt id="p1">[</bpt>Default WPF Themes<ept id="p1">](http://go.microsoft.com/fwlink/?LinkID=158252)</ept>.</source>
          <target state="translated">Para obtener más información, consulte <bpt id="p1">[</bpt>temas de WPF predeterminado<ept id="p1">](http://go.microsoft.com/fwlink/?LinkID=158252)</ept>.</target>       </trans-unit>
        <trans-unit id="118" translate="yes" xml:space="preserve" extradata="MT" uid="T:System.Windows.Controls.Menu">
          <source>Setting a visual property will only have an effect if that property is both present in <ph id="ph1">&lt;xref:System.Windows.Controls.Menu&gt;</ph> control's default template and is set by using a .</source>
          <target state="translated">Establecer una propiedad visual solo tendrá un efecto si esa propiedad está presente en ambos <ph id="ph1">&lt;xref:System.Windows.Controls.Menu&gt;</ph> control de la plantilla predeterminada y se establece mediante una.</target>       </trans-unit>
        <trans-unit id="119" translate="yes" xml:space="preserve" extradata="MT" uid="T:System.Windows.Controls.Menu">
          <source>You can find a list of visual properties in the "Changing the Visual Structure of a Control" section in <bpt id="p1">[</bpt>Customizing the Appearance of an Existing Control by Creating a ControlTemplate<ept id="p1">](~/docs/framework/wpf/controls/customizing-the-appearance-of-an-existing-control.md)</ept>.</source>
          <target state="translated">Puede encontrar una lista de propiedades visuales en la sección "Cambiar la estructura Visual de un Control" en <bpt id="p1">[</bpt>personalizar la apariencia de un Control existente mediante la creación de un elemento ControlTemplate<ept id="p1">](~/docs/framework/wpf/controls/customizing-the-appearance-of-an-existing-control.md)</ept>.</target>       </trans-unit>
        <trans-unit id="120" translate="yes" xml:space="preserve" uid="M:System.Windows.Controls.Menu.#ctor">
          <source>Initializes a new instance of the <ph id="ph1">&lt;see cref="T:System.Windows.Controls.Menu" /&gt;</ph> class.</source>
          <target state="translated">Inicializa una nueva instancia de la clase <ph id="ph1">&lt;see cref="T:System.Windows.Controls.Menu" /&gt;</ph>.</target>       </trans-unit>
        <trans-unit id="121" translate="yes" xml:space="preserve" uid="M:System.Windows.Controls.Menu.HandleMouseButton(System.Windows.Input.MouseButtonEventArgs)">
          <source>A <ph id="ph1">&lt;see cref="T:System.Windows.Input.MouseButtonEventArgs" /&gt;</ph> that contains the event data.</source>
          <target state="translated">Objeto <ph id="ph1">&lt;see cref="T:System.Windows.Input.MouseButtonEventArgs" /&gt;</ph> que contiene los datos del evento.</target>       </trans-unit>
        <trans-unit id="122" translate="yes" xml:space="preserve" uid="M:System.Windows.Controls.Menu.HandleMouseButton(System.Windows.Input.MouseButtonEventArgs)">
          <source>Called when any mouse button is pressed or released.</source>
          <target state="translated">Llamado al presionar o soltar cualquier botón del mouse.</target>       </trans-unit>
        <trans-unit id="123" translate="yes" xml:space="preserve" uid="P:System.Windows.Controls.Menu.IsMainMenu">
          <source>Gets or sets a value that indicates whether this <ph id="ph1">&lt;see cref="T:System.Windows.Controls.Menu" /&gt;</ph> receives a main menu activation notification.</source>
          <target state="translated">Obtiene o establece un valor que indica si este <ph id="ph1">&lt;see cref="T:System.Windows.Controls.Menu" /&gt;</ph> recibe una notificación de activación de menú principal.</target>       </trans-unit>
        <trans-unit id="124" translate="yes" xml:space="preserve" extradata="MT" uid="P:System.Windows.Controls.Menu.IsMainMenu">
          <source><ph id="ph1">&lt;see langword="true" /&gt;</ph> if the menu receives a main menu activation notification; otherwise, <ph id="ph2">&lt;see langword="false" /&gt;</ph>.</source>
          <target state="translated"><ph id="ph1">&lt;see langword="true" /&gt;</ph> si el menú recibe una notificación de activación de menú principal; de lo contrario, <ph id="ph2">&lt;see langword="false" /&gt;</ph>.</target>       </trans-unit>
        <trans-unit id="125" translate="yes" xml:space="preserve" extradata="MT" uid="P:System.Windows.Controls.Menu.IsMainMenu">
          <source>The default is <ph id="ph1">&lt;see langword="true" /&gt;</ph>.</source>
          <target state="translated">El valor predeterminado es <ph id="ph1">&lt;see langword="true" /&gt;</ph>.</target>       </trans-unit>
        <trans-unit id="126" translate="yes" xml:space="preserve" extradata="MT" uid="P:System.Windows.Controls.Menu.IsMainMenu">
          <source>If there are multiple <ph id="ph1">&lt;xref:System.Windows.Controls.Menu&gt;</ph> controls on a page, <ph id="ph2">&lt;xref:System.Windows.Controls.Menu&gt;</ph> controls that should not receive ALT or F10 key notifications should set this property to <ph id="ph3">`false`</ph>.</source>
          <target state="translated">Si hay varias <ph id="ph1">&lt;xref:System.Windows.Controls.Menu&gt;</ph> controles en una página, <ph id="ph2">&lt;xref:System.Windows.Controls.Menu&gt;</ph> controles que no deben recibir notificaciones de teclas ALT o F10 deberían establecer esta propiedad en <ph id="ph3">`false`</ph>.</target>       </trans-unit>
        <trans-unit id="127" translate="yes" xml:space="preserve" extradata="MT" uid="P:System.Windows.Controls.Menu.IsMainMenu">
          <source>Dependency Property Information</source>
          <target state="translated">Información sobre propiedades de dependencia</target>       </trans-unit>
        <trans-unit id="128" translate="yes" xml:space="preserve" extradata="MT" uid="P:System.Windows.Controls.Menu.IsMainMenu">
          <source>Identifier field</source>
          <target state="translated">Campo identificador</target>       </trans-unit>
        <trans-unit id="129" translate="yes" xml:space="preserve" extradata="MT" uid="P:System.Windows.Controls.Menu.IsMainMenu">
          <source>Metadata properties set to <ph id="ph1">`true`</ph></source>
          <target state="translated">Propiedades de metadatos establecidos en <ph id="ph1">`true`</ph></target>       </trans-unit>
        <trans-unit id="130" translate="yes" xml:space="preserve" extradata="MT" uid="P:System.Windows.Controls.Menu.IsMainMenu">
          <source>None</source>
          <target state="translated">None</target>       </trans-unit>
        <trans-unit id="131" translate="yes" xml:space="preserve" extradata="MT" uid="P:System.Windows.Controls.Menu.IsMainMenu">
          <source>The following example shows how to use the <ph id="ph1">&lt;xref:System.Windows.Controls.Menu.IsMainMenu%2A&gt;</ph> property to create a <ph id="ph2">&lt;xref:System.Windows.Controls.Menu&gt;</ph> that does not receive activation notification.</source>
          <target state="translated">En el ejemplo siguiente se muestra cómo utilizar el <ph id="ph1">&lt;xref:System.Windows.Controls.Menu.IsMainMenu%2A&gt;</ph> propiedad que se va a crear un <ph id="ph2">&lt;xref:System.Windows.Controls.Menu&gt;</ph> que no recibe notificación de activación.</target>       </trans-unit>
        <trans-unit id="132" translate="yes" xml:space="preserve" uid="F:System.Windows.Controls.Menu.IsMainMenuProperty">
          <source>Identifies the <ph id="ph1">&lt;see cref="P:System.Windows.Controls.Menu.IsMainMenu" /&gt;</ph> dependency property.</source>
          <target state="translated">Identifica la propiedad de dependencia <ph id="ph1">&lt;see cref="P:System.Windows.Controls.Menu.IsMainMenu" /&gt;</ph>.</target>       </trans-unit>
        <trans-unit id="133" translate="yes" xml:space="preserve" uid="M:System.Windows.Controls.Menu.OnCreateAutomationPeer">
          <source>Provides an appropriate <ph id="ph1">&lt;see cref="T:System.Windows.Automation.Peers.MenuAutomationPeer" /&gt;</ph> implementation for this control, as part of the <ph id="ph2">[!INCLUDE[TLA2#tla_winclient](~/includes/tla2sharptla-winclient-md.md)]</ph> automation infrastructure.</source>
          <target state="translated">Proporciona una implementación apropiada de <ph id="ph1">&lt;see cref="T:System.Windows.Automation.Peers.MenuAutomationPeer" /&gt;</ph> para este control, como parte de la infraestructura de automatización de <ph id="ph2">[!INCLUDE[TLA2#tla_winclient](~/includes/tla2sharptla-winclient-md.md)]</ph>.</target>       </trans-unit>
        <trans-unit id="134" translate="yes" xml:space="preserve" uid="M:System.Windows.Controls.Menu.OnCreateAutomationPeer">
          <source>The type-specific <ph id="ph1">&lt;see cref="T:System.Windows.Automation.Peers.AutomationPeer" /&gt;</ph> implementation.</source>
          <target state="translated">Implementación de <ph id="ph1">&lt;see cref="T:System.Windows.Automation.Peers.AutomationPeer" /&gt;</ph> específica del tipo.</target>       </trans-unit>
        <trans-unit id="135" translate="yes" xml:space="preserve" uid="M:System.Windows.Controls.Menu.OnInitialized(System.EventArgs)">
          <source>An <ph id="ph1">&lt;see cref="T:System.EventArgs" /&gt;</ph> that contains the event data.</source>
          <target state="translated">Objeto <ph id="ph1">&lt;see cref="T:System.EventArgs" /&gt;</ph> que contiene los datos del evento.</target>       </trans-unit>
        <trans-unit id="136" translate="yes" xml:space="preserve" uid="M:System.Windows.Controls.Menu.OnInitialized(System.EventArgs)">
          <source>Called when the <ph id="ph1">&lt;see cref="P:System.Windows.FrameworkElement.IsInitialized" /&gt;</ph> property is set to <ph id="ph2">&lt;see langword="true" /&gt;</ph>.</source>
          <target state="translated">Llamado cuando la propiedad <ph id="ph1">&lt;see cref="P:System.Windows.FrameworkElement.IsInitialized" /&gt;</ph> está establecida en <ph id="ph2">&lt;see langword="true" /&gt;</ph>.</target>       </trans-unit>
        <trans-unit id="137" translate="yes" xml:space="preserve" uid="M:System.Windows.Controls.Menu.OnKeyDown(System.Windows.Input.KeyEventArgs)">
          <source>A <ph id="ph1">&lt;see cref="T:System.Windows.Input.KeyEventArgs" /&gt;</ph> that contains the event data.</source>
          <target state="translated">Objeto <ph id="ph1">&lt;see cref="T:System.Windows.Input.KeyEventArgs" /&gt;</ph> que contiene los datos del evento.</target>       </trans-unit>
        <trans-unit id="138" translate="yes" xml:space="preserve" uid="M:System.Windows.Controls.Menu.OnKeyDown(System.Windows.Input.KeyEventArgs)">
          <source>Responds to the <ph id="ph1">&lt;see cref="E:System.Windows.ContentElement.KeyDown" /&gt;</ph> event.</source>
          <target state="translated">Responde al evento <ph id="ph1">&lt;see cref="E:System.Windows.ContentElement.KeyDown" /&gt;</ph>.</target>       </trans-unit>
        <trans-unit id="139" translate="yes" xml:space="preserve" uid="M:System.Windows.Controls.Menu.OnTextInput(System.Windows.Input.TextCompositionEventArgs)">
          <source>The event data.</source>
          <target state="translated">Datos del evento.</target>       </trans-unit>
        <trans-unit id="140" translate="yes" xml:space="preserve" uid="M:System.Windows.Controls.Menu.OnTextInput(System.Windows.Input.TextCompositionEventArgs)">
          <source>Handles the <ph id="ph1">&lt;see cref="E:System.Windows.UIElement.TextInput" /&gt;</ph> routed event that occurs when the menu receives text input from any device.</source>
          <target state="translated">Controla el evento enrutado <ph id="ph1">&lt;see cref="E:System.Windows.UIElement.TextInput" /&gt;</ph> que se produce cuando el menú recibe una entrada de texto de un dispositivo.</target>       </trans-unit>
        <trans-unit id="141" translate="yes" xml:space="preserve" extradata="MT" uid="M:System.Windows.Controls.Menu.OnTextInput(System.Windows.Input.TextCompositionEventArgs)">
          <source>This implementation does not change the handled state (the <ph id="ph1">&lt;xref:System.Windows.RoutedEventArgs.Handled%2A&gt;</ph> property) of the <ph id="ph2">&lt;xref:System.Windows.UIElement.TextInput&gt;</ph> event data.</source>
          <target state="translated">Esta implementación no cambia el estado controlado (la <ph id="ph1">&lt;xref:System.Windows.RoutedEventArgs.Handled%2A&gt;</ph> propiedad) de la <ph id="ph2">&lt;xref:System.Windows.UIElement.TextInput&gt;</ph> datos del evento.</target>       </trans-unit>
        <trans-unit id="142" translate="yes" xml:space="preserve" extradata="MT" uid="M:System.Windows.Controls.Menu.OnTextInput(System.Windows.Input.TextCompositionEventArgs)">
          <source>If you override <ph id="ph1">&lt;see cref="M:System.Windows.Controls.Menu.OnTextInput(System.Windows.Input.TextCompositionEventArgs)" /&gt;</ph>, always call the base implementation in your <ph id="ph2">&lt;see cref="M:System.Windows.Controls.Menu.OnTextInput(System.Windows.Input.TextCompositionEventArgs)" /&gt;</ph> implementation.</source>
          <target state="translated">Si invalida <ph id="ph1">&lt;see cref="M:System.Windows.Controls.Menu.OnTextInput(System.Windows.Input.TextCompositionEventArgs)" /&gt;</ph>, llame siempre a la implementación base su <ph id="ph2">&lt;see cref="M:System.Windows.Controls.Menu.OnTextInput(System.Windows.Input.TextCompositionEventArgs)" /&gt;</ph> implementación.</target>       </trans-unit>
        <trans-unit id="143" translate="yes" xml:space="preserve" extradata="MT" uid="M:System.Windows.Controls.Menu.OnTextInput(System.Windows.Input.TextCompositionEventArgs)">
          <source>Failure to call the base implementation prevents base classes from handling the event with a class handler, which might change the run-time behavior of the final class.</source>
          <target state="translated">Error al llamar a la implementación base evita que las clases base de controlar el evento con un controlador de clase, que podría cambiar el comportamiento de tiempo de ejecución de la clase final.</target>       </trans-unit>
        <trans-unit id="144" translate="yes" xml:space="preserve" extradata="MT" uid="M:System.Windows.Controls.Menu.OnTextInput(System.Windows.Input.TextCompositionEventArgs)">
          <source>You can call the base implementation either before or after your special handling, depending on your requirements.</source>
          <target state="translated">Puede llamar a la implementación base antes o después de su tratamiento especial, dependiendo de los requisitos.</target>       </trans-unit>
        <trans-unit id="145" translate="yes" xml:space="preserve" uid="M:System.Windows.Controls.Menu.PrepareContainerForItemOverride(System.Windows.DependencyObject,System.Object)">
          <source>The element used to display the specified item.</source>
          <target state="translated">El elemento que se utiliza para mostrar el objeto indicado.</target>       </trans-unit>
        <trans-unit id="146" translate="yes" xml:space="preserve" uid="M:System.Windows.Controls.Menu.PrepareContainerForItemOverride(System.Windows.DependencyObject,System.Object)">
          <source>The item to display.</source>
          <target state="translated">Elemento que se va a mostrar.</target>       </trans-unit>
        <trans-unit id="147" translate="yes" xml:space="preserve" uid="M:System.Windows.Controls.Menu.PrepareContainerForItemOverride(System.Windows.DependencyObject,System.Object)">
          <source>Prepares the specified element to display the specified item.</source>
          <target state="translated">Prepara el elemento especificado para visualizar el elemento especificado.</target>       </trans-unit>
        <trans-unit id="148" translate="yes" xml:space="preserve" extradata="MT" uid="M:System.Windows.Controls.Menu.PrepareContainerForItemOverride(System.Windows.DependencyObject,System.Object)">
          <source>Preparing the element might involve applying styles, setting bindings, and so on.</source>
          <target state="translated">La preparación del elemento puede implicar aplicar estilos, configurar enlaces y así sucesivamente.</target>       </trans-unit>
      </group>
    </body>
  </file>
</xliff>